/* start glbal rules */
:root{
    --main-color:#0c0b0b;
    --secondre-color:#f7be1dd9;
    --main-transation:0.5s;
    --main-padding-top:100px;
    --main-padding-bottom:100px;
    --main-background:black;
    --main-shadow: 1px 7px 6px 0 #400303e0;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
}
body{
    background-color: var(--main-color);
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* @mediaquarey */
/* small */
@media (min-width: 768px)
{
    .container{
        width: 750px;
    }
}
@media (max-width: 768px)
{
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}

/* medium */

@media (min-width: 992px)
{
    .container{
        width: 970px;
    }
}

/* large */

@media (min-width: 1200px)
{
    .container{
        width: 1170px;
    }
}
.main-titel{
    color: white;
    margin: 100px auto;
    padding: 10px 20px;
    border: 2px solid var(--secondre-color);
    width: fit-content;
    position: relative;
    border-radius: 10px;

}
.main-titel::before, 
.main-titel::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--secondre-color);
    top: 50%;
    transform: translateY(-50%);
    transition: var(--main-transation);
}
.main-titel::before {
    left: -30px;

}
.main-titel::after{
    right: -30px;

}
.main-titel:hover::before,
.main-titel:hover::after{
    z-index: -1;
    
}
.main-titel:hover::before{
    animation: left-move 0.5s linear forwards;
}
.main-titel:hover::after{
    animation: right-move 0.5s linear forwards;
}
.main-titel:hover{
    color: rgb(255, 255, 255);
    border: 2px solid white;
    font-weight: bold;
    transition-delay: 0.5s;
    font-size: 25px;
    z-index: 100;
    border-radius: 10px;
}

/* end global rules */
/* start heaader */
.header{
    background-color:black;
    -moz-box-sizing: 0 0 10px #ddd;
    -webkit-box-sizing: 0 0 10px #ddd;
    box-sizing: 0 0 10px #ddd;
}
.header .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.header .logo{
    color: var(--secondre-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media (max-width:767px){
    .header .logo{
        width: 100%;
        height: 40px;
    }
}
.header .main-nav{
    display: flex;
    
}
@media (max-width:767px){
    .header .main-nav{
       margin: auto;
    }
}
.header .main-nav > li:hover .mega-menu{
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}
.header .main-nav > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 72px;
    padding: 0 30px;
    color: var(--secondre-color);
    transition: var(--main-transation);
    overflow: hidden;
}
@media (max-width:767px){
    .header .main-nav > li > a{
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}
.header .main-nav > li > a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--secondre-color);
    top: 0;
    left: -100%;
    transition: var(--main-transation);
}
.header .main-nav > li > a:hover{
    background-color: var(--main-color);
   
}
.header .main-nav > li > a:hover::before{
    left: 0;
}
.header .mega-menu{
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    padding: 30px;
    border-bottom: 2px solid var(--secondre-color);
    display: flex;
    gap: 40px;
    background: #000000;
    opacity: 0;
    top: calc(100% + 50px);
    transition: var(--main-transation) , opacity var(--main-transation);
}
@media (max-width : 767px){
    .header .mega-menu{
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}

.header .mega-menu .image img{
    max-width: 100%;
}
@media (max-width: 991px ) {
    .header .mega-menu .image img{
        display: none;
    }
}
.header .mega-menu .links{
    min-width: 240px;
    flex: 1;

}
.header .mega-menu .links li{
    position: relative;
} 
.header .mega-menu .links li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #f1ebf30f;
    z-index: -1;
    transition: var(--main-transation);
} 
.header .mega-menu .links li:hover::before{

    width: 100%;
} 
.header .mega-menu .links li a{
    color: var(--secondre-color);
    font-size: 18px;
    display: block;
    padding: 15px;
    font-weight: bold;
}
.header .mega-menu .links li a i{
    margin-right: 10px;
}
/* end header */

/* start-landing */
.landing{
    position: relative;

}
.landing::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -40px;
    background-color: currentcolor;
    transform: skewy(-6deg);
    transform-origin: top left;
    z-index: -1;
    opacity: 0.5;

}
.landing .container{
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;

}
.landing .text {
    flex: 1;
}
@media (max-width: 991px) {
    .landing .text{
        text-align: center;
    }
}

.landing .text h1{
    font-size: 40px;
    letter-spacing: -2px;
    margin: 0;
    color: var(--secondre-color);
    
}
@media (max-width: 676px) {
    .landing .text h1{
        font-size: 28px;
    }
}
.landing .text p{
    font-size: 23px;
    line-height: 1.6;
    color: tan;
    margin: 5px 0 0 ;
    max-width: 500px;
    
}
@media (max-width: 676px) {
    .landing .text p{
        margin: 10px auto;
    }
}
@media (max-width: 991px) {
    .landing .text p{
        font-size: 17px;
    }
}
.landing .image img{
    width: 600px;
    position: relative;
    animation: up-and-down 5s linear infinite;
    
}
@media (max-width: 991px) {
    .landing .image img{
        display: none;
    }
}
.landing .go-down{
    color: var(--secondre-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translatex(-50%);
    transition: var(--main-transation)

}
.landing .go-down:hover{
 color:darkorchid ;
}
.landing .go-down i{
    animation: bouncing 1.5s infinite;

}
/* end-landing */

/* start-articles */
.articles {
    position: relative;

  }
.articles .container{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(250px, 1fr)) ;
    gap:40px
}
.articles .box{
    border-radius: 10px;
    box-shadow: var(--main-shadow);
    overflow: hidden;
    transition: transform var(--main-transation), box-shadow var(--main-transation);
}
.articles .box:hover{
    transform: translateY(-10px);
    box-shadow:var(--main-shadow)

}
.articles .container .box .image img{
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}
.articles .container .contant{
    padding: 20px;
}
.articles .container .contant h3{
    color: var(--secondre-color);
    margin: 0;

}
.articles .container .contant p{
    color: tan;
    margin-top: 10px;

}
.articles .container .info{
    display: flex;
    justify-content: space-between;
    color: aqua;
}
.articles .container .info a{
    color: aqua;
    text-decoration: none;
    padding: 10px 0 0 0 ;
    
}
.articles .container .info i{
    margin-top: 10px;
}
.articles .box:hover .info i{
    animation: moving-arrow 0.6s linear infinite;
}
hr{
    margin: 10px 0px 10px 0;
}
/* end-articles */

/* start-gallery */
.gallery{
    padding-top: 1px;
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--main-background);
    margin-top: 93px;
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.gallery .box{
    padding: 10px;
    background-color:wheat;
    box-shadow: var(--main-shadow);
    border-radius: 10px;
}
.gallery .box .image img{
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    transition: var(--main-transation);
    
}
.gallery .box .image:hover img{
    transform: rotate(5deg) scale(1.1);

}
.gallery .box .image{
    position: relative;
    overflow: hidden;

}
.gallery .box .image::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgba(245, 239, 239, 0.2);
    width: 0;
    height: 0;
    opacity: 0;
    transition: var(--main-transation);
    z-index: 2;
   

}
.gallery .box .image:hover::before{
    animation: flashing 0.7s;
}
/* end-gallery */

/* start-feature */
.features{
    padding-top: 1px;
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .box{
    border-radius: 10px;
    border: 2px solid wheat ;
    text-align: center;
    overflow: hidden;
    box-shadow: var(--main-shadow)
}
.features .box .image img{
    max-width: 100%;
}
.features .box .image {
    border-radius: 10px;
    position: relative;

}
.features .box .image::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}
.features .box .image::after{
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    border-style: solid;
    border-width: 0 0 170px 448px;
    border-color: transparent transparent var(--main-color) transparent;
    transition: var(--main-transation);
}
.features .box:hover .image::after{
    border-width: 170px 500px 170px 0;
}
.features .container .box h2{
    color: var(--secondre-color);
    margin: 27px auto;
    position: relative;
    font-size: 40px;
    width: fit-content;
}
.features .container .quality h2::after{
    content: "";
    position: absolute;
    left: 6px;
    bottom: -9px;
    width: 0;
    height: 5px;
    transition: var(--main-transation);
}
.features .quality:hover h2::after{
    width: 100%;
}
.features .container .time h2::after{
    content: "";
    position: absolute;
    left: 6px;
    bottom: -9px;
    width: 0;
    height: 5px;
    transition: var(--main-transation);
}
.features .time:hover h2::after{
    width: 100%;
}
.features .container .passion h2::after{
    content: "";
    position: absolute;
    left: 6px;
    bottom: -9px;
    width: 0;
    height: 5px;
    transition: var(--main-transation);
}
.features .passion:hover h2::after{
    width: 100%;
}
.features .container .box p{
    color: tan;
    margin: 10px 0 50px 0;
    padding: 0px 0px 0px 6px;
    line-height: 1.6;
}
.features .container .box a{
    display: block;
    /* border: 3px solid transparent; */
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
    position: relative;
}
.features .quality .image::before{
    background-color: rgb(244 64 54 / 60%);
}
.features .quality h2::after{
    background-color: #f44036;
}
.features .quality a{
    
    color: white;
    border: 3px solid #f44036;
}
.features .container .quality a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #f44036; 
    transition: var(--main-transation);
}
.features .quality:hover a::before{
    width: 100%;
    z-index: -1;
}
.features .time .image::before{
    background-color: rgb(0 150 136 / 60%)
}
.features .time h2::after{
    background-color: #009688;
}
.features .time a{
    
    color: white;
    border: 3px solid #009688;
}
.features .container .time a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #009688; 
    transition: var(--main-transation);
}
.features .time:hover a::before{
    width: 100%;
    z-index: -1;
}
.features .passion .image::before{
    background-color: rgb(3 169 244 / 60%);
}
.features .passion h2::after{
    background-color: #03a9f4;
}
.features .passion a{
    color: white;
    border: 3px solid #03a9f4;
}
.features .container .passion a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #03a9f4; 
    transition: var(--main-transation);
}
.features .passion:hover a::before{
    width: 100%;
    z-index: -1;
}

/* End-fearture */

/* start-TESTIMONIALS */
.testimonials{
    padding-top: 1px;
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    gap: 40px;
    row-gap: 60px;
}
.testimonials .box{
    background-color: black;
    padding: 20px;
    border-radius: 6px;
    box-shadow: var(--main-shadow);
    position: relative;
}
.testimonials .box h2{
    color: var(--secondre-color);
    margin-bottom: 10px;
}
.testimonials .box span{
   color: tan;
    margin-bottom: 10px;
    display: block;
}
.testimonials .image img{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
    right: -10px;
    top: -50px;
    border: 10px solid var(--main-color);
}
.testimonials .box .rate {
   color: #ffc107;
}
.testimonials .box p{
    color: tan;
    margin-top: 10px;
}

/* end-TESTIMONIALS */

/* start-team */
.team{
    padding-top: 1px;
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: black;

}
.team .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

}
.team .box{
    position: relative;
    border-radius: 10px;
    /* box-shadow: var(--main-shadow); */
}
.team .box::before{
    content: "";
    position: absolute;
    width: calc(100% - 60px);
    height: 100%;
    right: 0;
    top: 0;
    background-color: var(--main-color);
    /* z-index: -2; */
    border-radius: 10px;
    box-shadow: var(--main-shadow);

}
.team .box::after{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgba(245, 239, 239, 0.2);
    transition: var(--main-transation);
    border-radius: 10px;
    /* z-index: -1; */
}
.team .box:hover::after{
    width: calc(100% - 60px);
}
.team .box .image img{
    width: calc(100% - 60px);
    border-radius: 10px;
    position: relative;
    transition: var(--main-transation);
    height: 250px;
}

.team .box:hover img{
  filter: grayscale(100%);
  
}
.team .box .image{
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team .box .social{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.team .box .social a{
     width: 60px;
     height: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.team .box .social a:hover i{
    color: #03a9f4;
}
.team .box .social a i{
     color: rgb(90, 83, 83);
     transition: var(--main-transation);
}
.team .box .info{
    padding-left: 80px;
    padding-top: 10px;
    color: #009688;
    z-index: 2;
}

/* end-team */
/* start-services */
.services{
    padding-top: 1px;
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 40px;

}
.services .container .box{
    position: relative;
    background-color: black;
    transition: var(--main-transation);
    box-shadow: var(--main-shadow);
    border-radius: 6px;
}
.services .container .box:hover{
   transform: translateY(-10px);
}
.services .container .box i{
    margin-top: 40px;
}
.services .container .box h3{
    margin-bottom: 40px;
    font-size: 25px;
}
.services .container .box i , h3{
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--secondre-color);
}
.services .container .info a{
    float: right;
    padding: 15px;
    text-decoration: none;
    color: var(--secondre-color);
}
.services .container .box::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--secondre-color);
    left: 50%;
    top: 0;
    transform: translate(-50%);
    transition: var(--main-transation);
}
.services .container .box:hover::before{
    width: 99%;

}
.services .box .info::before {
    content: "01";
    position: absolute;
    background-color: darkorange;
    color: black;
    left: 1px;
    bottom: 0;
    height: 20%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    
  }
  .services .box .info::after{
    content: "";
    position: absolute;
    background-color: #d1b105;
    left: 80px;
    bottom: 0;
    height: 20%;
    width: 15%;
    transform: skewX(-30deg);
  }
  
/* end-services */
/* start-skills */
.our-skills{
    padding-top: 1px;
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: black;

}
.our-skills .container{
    display: flex;
    align-items: center;

}
@media (max-width:991px){
    .our-skills img{
        display: none;
    }
}
.our-skills .container .skills{
    flex: 1;
}
.our-skills .skill h3   {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -10px;
}
.our-skills .skill h3 span{
    margin-right: -4px;
    font-size: 12px;
    
    padding: 4px;
    border-radius: 6px;
}

.our-skills .skill .the-progress{
    height: 30px;
    background-color: white;
    position: relative;
}
.our-skills .skill .the-progress span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: darkorange;
   
}

/* end-skills */

/* start-work */
.work-step{
    padding-top: 1px;
    padding-bottom: var(--main-padding-bottom);
    position: relative;

}
.work-step .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 20px; */

}
@media (max-width:991px){
    .work-step .container{
        flex-direction: column;
    }
}

.work-step .image {
    max-width: 100%;
    margin-right: 100px;
   
}
@media (max-width:991px){
    .work-step .image{
        margin: 0 0 50px;
    }
}
@media (max-width:767px){
    .work-step .image img{
        max-width: 100%;
    }
}
.work-step .info .box img{
    width: 64px;
    margin-right: 30px;
}

.work-step .container .info .box{
    background-color: black;
    padding: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid var(--secondre-color);
    box-shadow: var(--main-shadow);
    z-index: 1;
}
@media (max-width: 767px) {
    .work-step .container .info .box{
        flex-direction: column;
        text-align: center;
    }
}
.work-step .info .box::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    background-color: rgba(245, 239, 239, 0.2);
    transform: translate(-50%, -50%);
    transition: var(--main-transation);
    z-index: -1;
}
.work-step .info .box:hover:before{
    width: 100%;
    height: 100%;;

}
.work-step .info .text h3{
   margin: 0;
   font-size: 22px;
   display:block;
   
}
.work-step .info .text p{
    color: tan;
    line-height: 1.5;
    margin: 10px 0 0;
    font-size: 18px;
}
/* end-work */
/* start-event */
.event{
    padding-top: 1px;
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: black;
}
.event .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.event .container .image img{
    max-width: 450px;

}
@media (max-width: 991px){
    .event .image{
        display: none;
    }
}
.event .container .info{
     flex: 1;
}
.event .subscribe{
    width: 100%;
    margin-top: 50px;
}
.event .subscribe form{
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: var(--main-color);
    border-radius: 50px;
    display: flex;
    gap: 20px;
}
@media (max-width: 767px) {
    .event .subscribe form  {
     max-width: 100%;
     flex-direction: column;
     padding: 20px;

    }
  }
  
.event .info .time{
    display: flex;
    margin: 20px auto;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.event .info .time .unit{
    border: 1px solid var(--secondre-color);
    border-radius: 6px;
    text-align: center;
    width: 76px;
    transition: var(--main-transition);
}
.event .info .time .unit span{
    display: block;
    color: var(--secondre-color);
}
.event .info .time .unit span:first-child {
    font-size: 35px;
    padding: 15px;
    color: var(--secondre-color);
    font-weight: bold;

}
.event .info .time .unit span:last-child {
    padding: 8px 5px;
    font-size: 13px;
    border-top: 1px solid tan;
}
.event .title{
    text-align: center;
    margin: 40px 0 0;
    font-size: 30px;
    color: var(--secondre-color);
    font-weight: 400;
}
@media (max-width: 767px){
    .event .title{
        font-size: 27px;
        margin: 0 0 15px 0;
    }
    .event .description{
        font-size: 15px;
    }

}

.event .description{
    color: tan;
    line-height: 1.5;
    font-size: 19px;
    text-align: center;
}
.event .subscribe form input[type="email"]{
    padding: 20px;
    flex: 1;
    border-radius: 50px;
    border: none;
    caret-color: var(--secondre-color);
  }
  .event .subscribe form input[type="email"]:focus{
      outline: none;
  }
  .event .subscribe form input[type="submit"]{
    padding: 20px;
    border-radius: 50px;
    font-weight: bold;
    color: black;
    border: none;
    background-color: var(--secondre-color);
    cursor: pointer;
    position: relative;
}
/* end-event */

/* start-plans */
.plans{
    padding-top: 1px;
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.plans .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 40px;

}
.plans .container .box{
    background-color:black;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--main-shadow);
    position: relative;
    z-index: 1;
}
.plans .container .box::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(245, 239, 239, 0.2);
    width: 0;
    height: 50%;
    transition: 0.6s;
    z-index: -1;

}
.plans .container .box:hover::before{
    width: 100%;
}

.plans .container .box::after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    background-color: rgba(245, 239, 239, 0.2);
    width: 0%;
    height: 50%;
    transition: 0.6s;
    z-index: -1;

}
.plans .container .box:hover::after{
    width: 100%;
}
.plans .box img{
  width: 80px;
  margin-bottom: 30px;
}
.plans .title{
    font-weight: bold;
    margin: 30px 0;
    font-size: 25px;
    letter-spacing: -1px;
    color: var(--secondre-color);
}
.plans .price{
    color: var(--secondre-color);
}
.plans .amount{
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
}
.plans .price .time{
    margin-bottom: 18px;
    color: tan;
    display: block;
}
.plans .box ul{
    color: var(--secondre-color);
    text-align: left;
}
.plans .box ul li{
    padding: 20px;
    border-top: 1px solid var(--secondre-color);
}
.plans .box ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color:#2196f3;
}

.plans .box.popular .label{
    color: black;
    position:absolute;
    writing-mode: vertical-lr;
    background-color: var(--secondre-color);
    font-weight: bold;
    padding: 10px 10px 35px 10px;
    font-size: 18px;
    right: 20px;
    width: 40px;
    top: 2px;
}
.plans .box.popular .label::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent black transparent;
    border-width:20px ;
    
}
.plans .box a{
    display: block;
    border: 2px solid var(--secondre-color);
    padding: 10px;
    color: white;
    width: fit-content;
    margin: 30px auto 40px;
    transition: var(--main-transition);
    border-radius: 6px;
   
}
.plans .box a:hover{
    background-color: var(--secondre-color);
    border-color: white;
  
}
.plans .box a::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--secondre-color);
    width: 0;
    height: 0;
}
.plans .box a:hover::before{
    width: 100%;
}
.plans .box.popular{
    margin-top: -40px;
    position: relative;
}
@media (max-width: 991px){
    .plans .box.popular{
        margin: 0;
    }
}

/* end-plans */
/* start-video */
.videos {
    padding-top:1px;
    padding-bottom: var(--main-padding-bottom);
    background-color: black;
  }
  .videos .container .holder {
    display: flex;  
    justify-content: center;
    background-color: var(--main-color);
    border: 1px solid #ddd;
    box-shadow: var(--main-shadow);
  }
  @media (max-width: 991px) {
    .videos .holder {
      flex-direction: column;
    }
  }
  .videos .holder .list {
    min-width: 300px;
    background-color: var(--main-color);
    color: var(--secondre-color);
  }
  .videos .holder .list .name {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--secondre-color);
    font-weight: bold;
    color: black;

    /* color: var(--main-color);*/
  }
  .videos .holder .list ul li {
    padding: 20px;
    border-top: 1px solid var(--secondre-color);
    cursor: pointer;
    transition: var(--main-transition);
  }
  .videos .holder .list ul li:hover {
    background-color: rgb(138, 102, 102);
    
  }
  .videos .holder .list ul li span {
    display: block;
    margin-top: 10px;
    color: var(--secondre-color);
  }
  .videos .holder .preview {
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .videos .holder .preview img {
    max-width: 100%;
  }
  .videos .holder .preview .info {
    padding: 20px;
    background-color: var(--secondre-color);
    margin-top: 10px;
    border-radius: 6px;

  }
  .stats{
      margin-top: 1px;
      margin-bottom: var(--main-padding-bottom);
      position: relative;
      background-size: cover;
      min-height: 300px;


  }
  .stats .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    gap: 30px;

  }
  .stats .box{
      color: var(--secondre-color);
      background-color: black;
      text-align: center;
      position: relative;
      border-radius: 10px;
      box-shadow: var(--main-shadow);
      opacity: 0.8;
      transition: var(--main-transation);

  }
  .stats .box::before,
  .stats .box::after{
      content: "";
      position: absolute;
      width: 2px;
      background-color: var(--secondre-color);
      transition: 1s;
      height: 0;
      border-radius: 10px;
  }
  .stats .box::before{
      top: 0;
      right: 0;
  }
  .stats .box::after{
      bottom: 0;
      left: 0;
  }
  .stats .box:hover{
      opacity: 1;
  }
  .stats .box:hover::before,
  .stats .box:hover::after{
      height: 98%;
  }
  .stats .box i{
      margin: 20px 0 20px 0;

  }
  .stats .box span{
    display: block; 
    margin: 20px 0 20px 0;

  }
  .stats .box .number{
    font-size: 50px;
    font-weight: bold;
  }
  .stats .box .text{
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
  }
/* end-video */
/* start-dicount */
.discount{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  
}
.discount .image{
   color: var(--secondre-color);
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.discount .image .contant h2{
    font-size: 40px;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.discount .contant{
    width: 500px;
    text-align: center;
  }
  @media(max-width:676px){
    .discount .contant {
        text-align: center;
        width: 375px;
        padding: 10px;
  }
  .discount .form .contant h2{
    font-size: 40px;
    margin-bottom: 10px;
  }
  
}
.discount .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: darkblue;
    z-index: -1;
    border-radius: 10px;
  }
  @media (max-width: 991px) {
    .discount .image {
      flex-basis: 100%;
    }
  }
.discount .image .contant img{
    width: 300px;   
    max-width: 100%;
}
.discount .contant p{
    line-height: 1.6;
    color: tan;
}
.discount .form{
    display: flex;
  justify-content: center;
  flex-basis: 50%;
}
@media (max-width: 991px) {
    .discount .form {
      flex-basis: 100%;
    }
  }
.discount .form .contant h2{
    color: var(--secondre-color);
    margin: 0 0 20px 0;
    font-size: 40px;
}
@media(max-width:676px){
    .discount .form .contant h2{
        font-size: 35px;
    }
    .discount .contant .form .input{
        display: block;
        margin-bottom: 10px;
    }
}
.discount .form .input{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px
}
.discount .form textarea.input{
    height: 200px;
}
.discount .form .input:focus{
    outline: none;
}
.discount .form [type="submit"] {
    /* display: block; */
    width: 100%;
    padding: 15px;
    background-color: var(--secondre-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
    border-radius: 10px;
  }
  .discount .form [type="submit"]:hover {
    background-color: black;
  }
/* end-discount */

/* start-footer */
.footer{
    padding-top: 1px;
    padding-bottom: var(--main-padding-bottom);
    background-color: black;
    color: darkblue;
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    gap: 40px;
    margin-top: 50px;

}
@media (max-width: 767px) {
    .footer {
      text-align: center;
    }
  }
.footer .container .box h2{
    font-size: 51px;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--secondre-color);
}
.footer .container .box .social {
    display: flex;
    font-size: 25px;
}
@media (max-width: 767px) {
    .footer .box .social {
      justify-content: center;
    }
  }
.footer .container .box .social li{
    margin-right: 10px;
    background-color:tan;
    padding: 15px;
    border-radius: 10px;
}
.footer .container .box .social li a{
    color: blue;
    text-decoration: none;
}
.footer .container .box .social .yot{
    color: #f44036;
}

.footer .footer-gallery img {
    width: 60px;
    border: 3px solid white;
    margin: 2px;
  }
  @media (max-width: 767px) {
    .footer .footer-gallery img{
        width: 80px;
    }
  }
  .footer .box .text{
    line-height: 1.8;
    color: tan; 
    margin-top: 15px;
  }
  .footer .container .box .link li{
    margin-bottom: 10px;
    padding: 15px 0;
    border-bottom: 1px solid darkblue;
    transition: 0.5s;
    position: relative;
  }
.footer .box .link li:hover {
    padding-left: 10px;
  }
  .footer .container .box .link li a::before{
    font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: darkblue;


  }
  .footer .container .box .link li a{
    text-decoration: none;
    color: var(--secondre-color);
  }
  .footer .box .line{
    padding: 15px 0;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  @media (max-width: 767px) {
    .footer .box .line {
      flex-direction: column;   
    }
    .footer .box .line i{
        margin-bottom: 10px;
    }
  }
  .footer .box .line i{
    padding-right: 45px;
    font-size: 25px;
    color: darkblue;
  }
.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: var(--secondre-color);
    margin: 50px 0 0;
    /* border-top: 1px solid #444; */
    font-size: 40px;
    margin-bottom: -80px;
  }
  @media (max-width: 767px){
    .footer .copyright{
        font-size: 30px;
    }
  }
/* end-footer */
/* start-animation */
@keyframes up-and-down {
    0%, 100% {
        top: 0;
    }
    50%{
        top: -50px;
    }
}
@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    30%, 60%{
        transform: translateY(-15px);
    }
    
}
@keyframes left-move{
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        width: 100%;
        height:calc(100% + 2px);
        border-radius: 10px;
    }
}
@keyframes right-move{
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        width: 100%;
        height:calc(100% + 2px);
        border-radius: 10px;
    }
}
@keyframes moving-arrow{
    100% {
        transform: translateX(10px);
      }
}
@keyframes flashing{
    0%, 40% {
        opacity: 1;
    }
    100%{
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

/* end-animation */

